.headerContainer{
    height: 60px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: #2c2e37;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}